.left-blur {
    position: absolute;
    inset: 0;
    right: auto;
    width: 50%;

    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);

    border-right: 1px solid var(--color-border);
    /* border-top-right-radius: 100%; */
}

.center-text {
    --top-shift: 20vh;

    position: absolute;
    inset: 0;
    padding-top: var(--top-shift);

    display: flex;
    justify-content: center;

    background-image: url('@/assets/images/bg/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-clip: text;
    -webkit-background-clip: text;
}
.left-text {
    color: transparent;
    text-stroke: 1px var(--color-border);
    -webkit-text-stroke: 1px var(--color-border);
}
.right-text {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.description-container {
    position: absolute;
    bottom: 100px;

    width: 480px;
}
.description-container > p {
    padding-top: 20px;
    padding-bottom: 35px;
}
