.country-details-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 55px;

    padding-block: calc(var(--header-height) + 25px);
    @include main-container;

    width: 100%;
    height: 100%;

    & > .heading-image {
        flex-basis: 555px;
    }
    & .details {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 50%;

        & > .info-block {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & > .heading {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & > .close-icon {
                    cursor: pointer;
                }
            }
            & > .gallery {
                display: flex;
                flex-direction: row;
                gap: 20px;
                height: 195px;
    
                .gallery-image-container {
                    border-radius: 5px;
                    cursor: pointer;
                    overflow: hidden;
                    background-color: rgba(255, 255, 255, .3);

                    & img {
                        height: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;

                        transition: filter .2s ease-in-out;

                        &[lazy=loading] {
                            filter: blur(6px);
                        }
                    }
                }
            }
        }
        & > .buy-btn {
            align-self: flex-end;
        }
    }
}
