.popup {
    --popup-height: 500px;

    position: fixed;
    top: var(--popup-top-position);
    left: var(--popup-left-position);
    z-index: 500;
    overflow: hidden;

    width: var(--popup-width);
    height: calc(var(--popup-height) * .2);
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: scale(.3);
    transform-origin: top right;

    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(15px);
    border-radius: 10px;

    &.open {
        height: var(--popup-height);
        border-radius: 10px;
        opacity: 1;
        transform: scale(1);
    }
    & > .wrapper {
        width: var(--popup-width);
        height: var(--popup-height);
    }
}
