.h1 {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    font-size: 180px;
    line-height: 219px;
    letter-spacing: 0.05em;
    color: var(--color-text);
}
.h2 {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: var(--color-text);
}
.h3 {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: var(--color-text);
}
.h4 {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--color-text);
}
.h5 {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-text);
}
.body {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--color-text-secondary);
}
.button {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: var(--color-button-text);
}
.caption {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-text);
}
