.header {
    position: fixed;
    inset: 0;
    bottom: auto;

    display: flex;
    align-items: center;

    @include main-container;

    height: var(--header-height);
    background-color: rgba(158, 158, 158, 0.3);
    backdrop-filter: blur(5px);

    border-bottom: 1px solid #686868;
    z-index: 100;

    & .logo-title {
        position: absolute;
        color: var(--color-text);
    }
}

nav {
    height: 100%;
    margin: auto;
}
nav > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;

    height: 100%;
}
nav > ul a {
    color: var(--vt-c-white-mute);
    color: rgb(255, 255, 255);
    font-weight: 500;
}
