.section {
    position: relative;
    width: 100vw;
    height: 100vh;

    @include main-container;

    background-image: url('@/assets/images/bg/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: .2s;
}
