.section {
    position: relative;
    width: 100vw;
    height: 100vh;

    @include main-container;

    background-image: url('var(--bg-image-path)');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: .2s;
}
