#app {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */

  font-weight: normal;
}

a {
  text-decoration: none;
  color: blue;
}

// a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */



.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
}

.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}


// Transitions

.fade {
  &-enter-active {
    transition: all .1s ease-out;
  }
  &-leave-active {
    transition: all .1s .1s ease-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: .5;
  }
}

.fade-filter-scale {
  &-enter-active,
  &-leave-active {
      transition: all .2s ease-out;
  }

  &-enter-from,
  &-leave-to {
      opacity: 0;
      scale: .6;
      filter: blur(3px);
  }
}

.fade-filter {
  &-enter-active,
  &-leave-active {
      transition: all .2s ease-out;
  }

  &-enter-from,
  &-leave-to {
      opacity: 0;
      filter: blur(6px);
  }
}

.fade-filter-image {
  &-enter-active,
  &-leave-active {
      transition: all .2s ease-in-out;
  }

  &-enter-from,
  &-leave-to {
      filter: blur(15px);
      transform: scale(1.05);
  }
}

.filter-number {
  &-enter-active,
  &-leave-active {
    transition: all .1s ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: .6;
    filter: blur(3px);
    transform: scaleX(1.05);
  }
}
