.tooltip {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 5px;

    &::before {
        content: '';

        position: absolute;
        top: 100%;
        left: 50%;

        transform: translateX(-50%);
        border: 5px solid transparent;
        border-top-color: white;
        @supports not (backdrop-filter: blur(5px)) { border-top-color: white; }
    }
}
